<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card shadow p-4" style="width: 100%; max-width: 400px">
    <h4 class="text-center mb-4">Forgot Password</h4>
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>Email</label>
        <input formControlName="email" class="form-control" type="email" />
        <div
          *ngIf="
            forgotForm.get('email')?.invalid && forgotForm.get('email')?.touched
          "
          class="text-danger"
        >
          <small *ngIf="forgotForm.get('email')?.errors?.['required']"
            >Email is required</small
          >
          <small *ngIf="forgotForm.get('email')?.errors?.['email']"
            >Enter valid email</small
          >
        </div>
      </div>
      <div class="col-12 d-flex justify-content-between">
        <button
          type="submit"
          class="btn btn-primary px-4"
          [disabled]="forgotForm.invalid || forgotForm.pristine"
        >
          <span *ngIf="!showspinner"> Send Reset Link</span>
          <span *ngIf="showspinner">
            <span
              class="spinner-border spinner-border-sm"
              role="status"
              aria-hidden="true"
            ></span>
            Loading...
          </span>
        </button>
        <button type="button" (click)="loginpage()" class="btn btn-primary px-4">Login</button>
      </div>
    </form>
  </div>
</div>
