<div class="p-4">
  <h5 class="modal-title text-center">Update Category</h5>
  <form [formGroup]="UpdateCategoryForm" (ngSubmit)="onSubmit()">
    <!-- Name Field -->
    <div class="mb-3">
      <label for="id" class="form-label">Enter Id</label>
      <input
        type="text"
        id="id"
        class="form-control"
        placeholder="Enter ID"
        formControlName="id"
      />
      <div
        class="text-danger mt-1"
        *ngIf="id.invalid && (id.dirty || id.touched)"
      >
        <small *ngIf="id.errors?.['required']">Id is required</small>
      </div>
    </div>

    <!-- Image Field -->
    <div class="mb-3">
      <label for="name" class="form-label">Enter name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        placeholder="Enter Name"
        formControlName="name"
      />
      <div
        class="text-danger mt-1"
        *ngIf="name.invalid && (name.dirty || name.touched)"
      >
        <small *ngIf="name.errors?.['required']">
          Image URL is required
        </small>
      </div>
    </div>

    <!-- Buttons -->
    <div class="d-flex justify-content-center">
      <button
        class="btn btn-primary text-uppercase"
        type="submit"
        [disabled]="UpdateCategoryForm.invalid"
      >
        Submit
      </button>
    </div>
  </form>
</div>
